<!-- Author: Dorothy K.-->

<!DOCTYPE html>
<html>
	<header>
		<title>Contact Page</title>
		<link href="G4Styles.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</header>
	<body>
		<!-- Top Banner and banner by Micah -->
		<div class="topbanner">
			<img src="logo2.jpg" />
			<h2 style="font-weight: 100; font-style: italic; float: right; margin-right: 100px;" >
                <script>
                    var quotes = ["“Adventure is worthwhile.” – Aesop", "“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta", 
                    "“We travel, some of us forever, to seek other places, other lives, other souls.” – Anais Nin", 
						"“A journey is best measured in friends, rather than miles.” – Tim Cahill", "“I am not the same, having seen the moon shine on the other side of the world.” – Mary Anne Radmacher", 
						"“The world is a book, and those who do not travel read only one page.” – Saint Augustine", "“Travel is the only thing you buy that makes you richer.” – Anonymous", 
                    "“Better to see something once than hear about it a thousand times.” – Asian Proverb"];
					var randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
					document.write(randomQuote);
                </script>
            </h2>
		</div>

		<div class="banner">
			<a href="/" id="home" >Home</a>
            <a href="/contact" >Contact Us</a>
            <a href="/packages" >Vacation Packages</a>
            <a href="/registration" >Sign Up</a>
            <a href="/login" >Login</a>
				
			<div class="logo">      
				<img src="Logo.png" class="logo" />
			</div>
		</div>

		<div class="agent-container">
			<img src="beach.jpg" alt="Snow" style="width:100%;" height="50%"> 
			<div class="title-heading">
				<h1>Get in touch today!</h1>	
			</div>
			<div class="on-image">
				<div>
					<div class="flex-container-left">
						<h2 class="agent-header"> Calgary Team</h2>	
						<table class="agent-list">
							<% for(var i=0; i < calAgents.length; i++) 
							{ %>
								<% if (i %2 == 0) 
								{ %>
									<tr>
								<% } %>
								<td class="column">
									<img src="contacticon75.png" alt="contact" style="width:10%;"><br />
									<%=calAgents[i].AgtFirstName + " " + calAgents[i].AgtLastName%><br />
									<img src="email.png" alt="contact" style="width:5%;"><%= " " + calAgents[i].AgtEmail%><br />
									<img src="phone.png" alt="contact" style="width:5%;"><%= " " + calAgents[i].AgtBusPhone%><br />
									<br />
								</td>
								<%if (i %2 == 1) { %>
									</tr>
								<% } %>
							<% } %>
						</table>
						<div class="office-left">
							<img src="cubicles.jpg" style="height:200px;">
							<div class="agencyaddress-left">
								<%= agencies[0].AgncyCity + " Office" %><br />
								<%= agencies[0].AgncyAddress %><br />
								<%= agencies[0].AgncyCity + ", " + agencies[0].AgncyProv %><br />
								<%= agencies[0].AgncyPostal %><br />
								<%= "Phone: " + agencies[0].AgncyPhone%><br />
							</div>
						</div>
					</div>
					<div class="flex-container-right">
						<div class="office-right">
							<img src="meeting.jpg" style="height:200px;">
							<div class="agencyaddress-right">
								<%= agencies[1].AgncyCity + " Office" %><br />
								<%= agencies[1].AgncyAddress %><br />
								<%= agencies[1].AgncyCity + ", " + agencies[1].AgncyProv %><br />
								<%= agencies[1].AgncyPostal %><br />
								<%= "Phone: " + agencies[1].AgncyPhone%><br />
							</div>
						</div>
						<h2 class="agent-header">Okotoks Team</h2>
						<table class="agent-list">
							<% for(var i=0; i < okAgents.length; i++) 
							{ %>
								<% if (i %2 == 0) 
								{ %>
									<tr>
								<% } %>
								<td class="column">
									<img src="contacticon75.png" alt="contact" style="width:10%;"><br />
									<%=okAgents[i].AgtFirstName + " " + okAgents[i].AgtLastName%><br />
									<img src="email.png" alt="contact" style="width:5%;"><%= " " + okAgents[i].AgtEmail%><br />
									<img src="phone.png" alt="contact" style="width:5%;"><%= " " + okAgents[i].AgtBusPhone%><br />
									<br />
								</td>
								<%if (i %2 == 1) { %>
									</tr>
								<% } %>
							<% } %>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	
		
			<footer>
				Travel Experts Copyright&copy;2022
			</footer>
		</body>
    </html>
