<!-- Author: Micah B.-->
<!DOCTYPE html>
<html>
    <head>
        <link href="G4Styles.css" rel="stylesheet" type="text/css" />
        <script src="jquery-3.6.1.js" type="text/javascript"></script>
        <script src="formValidation.js" type="text/javascript"></script>
        <script>
            // Micah wrote these scripts, but Tim was the brains behind them.
            var base = "<%=result[0].PkgBasePrice%>";

            var totalPrice;

            function totPrice(members){
                var basePrice = parseInt(base);
                var totalP = (basePrice*members);

                document.getElementById("totalPrice").value = ("$" + totalP + ".00");
            }

            var members, dropdown;
    
            function findMembers(){
                var dropdown = document.getElementById("members");
                var members = dropdown.value;
                totPrice(members);
                
            };
            
            
        </script>
      
    </head>

    <body>
        <div class="topbanner">
            <img src="logo2.jpg" />
            <h2 style="font-weight: 100; font-style: italic; float: right; margin-right: 100px;" >
                <script>
                    var quotes = ["“Adventure is worthwhile.” – Aesop", "“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta", 
                    "“We travel, some of us forever, to seek other places, other lives, other souls.” – Anais Nin", 
						"“A journey is best measured in friends, rather than miles.” – Tim Cahill", "“I am not the same, having seen the moon shine on the other side of the world.” – Mary Anne Radmacher", 
						"“The world is a book, and those who do not travel read only one page.” – Saint Augustine", "“Travel is the only thing you buy that makes you richer.” – Anonymous", 
                    "“Better to see something once than hear about it a thousand times.” – Asian Proverb"];
					var randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
					document.write(randomQuote);
                </script>
            </h2>
        </div>

        <div class="banner">
            <a href="/" id="home" >Home</a>
            <a href="/contact" >Contact Us</a>
            <a href="/packages" >Vacation Packages</a>
            <a href="/registration" >Sign Up</a>
            <a href="/login" >Login</a>
                
                <div class="logo">      
                    <img src="Logo.png" class="logo" />
                </div>
            </div>

            <h1 style="font-size: 28pt; font-family:monaco Narrow, sans-serif;
                 text-align: center; text-shadow:2px 2px #a2a2a2; font-size: 2.8vw;" id="bot-para">Please complete the form below to confirm your booking:</h1>
            
        <!-- Order form, validation in head section -->
            <form method="get" action="/confirmation" class="form">

                <label for="package">Vacation Package: </label>
                <img src="check.png" class="checkvisible">
                <input type="text" name="Package" id="Package" 
                value="<%=result[0].PkgName + " - $" + result[0].PkgBasePrice + " per guest"%>" readonly="readonly" /><br/>
                
                <label for="members">Number of travellers: </label>
                <img src="check.png" class="checkvisible"><br />
                
                <select id="members" name="members" onchange="findMembers()" >
                    <% for(var i=1; i<21; i++) {%>
                        <option>
                        <%= i %>
                        </option>
                    <% } %>
                </select>
                
                <br />
                
                <label for="totalPrice">Total price: </label>
                    <img src="check.png" class="checkvisible">
                <input type="text" name="totalPrice" id="totalPrice" 
                value="<%="$" + result[0].PkgBasePrice + ".00"%>" readonly="readonly" /><br/>

                <label for="startDate">Start date: </label>
                    <img src="check.png" class="checkvisible">
                <input type="text" name="startDate" id="startDate" 
                value="<%=result[0].PkgStartDate%>" readonly="readonly" /><br/>

                <label for="endDate">End date: </label>
                    <img src="check.png" class="checkvisible">
                <input type="text" name="endDate" id="endDate" 
                value="<%=result[0].PkgEndDate%>" readonly="readonly" /><br/>

                <label for="FirstName">First name: </label> 
                    <img src="check.png" class="checkinvisible" id="check1">
                <input type="text" name="FirstName" id="FirstName" value="" onchange="checkInput1(this.form)"/><br />
                
                <label for="LastName">Last name: </label> 
                    <img src="check.png" class="checkinvisible" id="check2">
                <input type="text" name="LastName" id="LastName" value="" onchange="checkInput2(this.form)" /><br />
                
                <label for="Credit">Credit Card Number: </label> 
                    <img src="mastercard.png" class="cardinvisible" id="card">        
                <input type="text" maxlength="16" name="Credit" id="Credit" value="" placeholder="No Spaces Between Numbers" onchange="cardIdentify()"/><br />
               
                <label for="ExpiryDate">Expiry Date: </label>
                    <img src="check.png" class="checkinvisible" id="check3">
                <input type="text" name="ExpiryDate" id="ExpiryDate" placeholder="MM/YY" value="" onchange="checkInput3(this.form)"/><br />
               
                <label for="CVV">CVV (on back of card): </label>
                <img src="check.png" class="checkinvisible" id="check4">
                <input type="text" maxlength="4" name="CVV" id="CVV" placeholder="123(4)" value="" onchange="checkInput4(this.form)"/><br />
                
                <button type="sumbit" onclick="return validate(this.form)" class="submitBtn">Order now!</button>
                <button type="reset" onclick="return confirm('Are you sure you want to reset the form?')" class="resetBtn">Reset</button><br />
            </form>        
            
            <br /><br /><br />
        <footer>Copyright &copy; 2022 Travel Experts Inc.</footer>
    </body>

</html>