<!-- Author: Rabab Kaz.-->

<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Packages</title>
  <!--  Main CSS  -->
<link href="G4Styles.css" rel="stylesheet" type="text/css"/>
<script src="jquery-3.6.1.js" type="text/javascript"></script>

</head>
<script>
// Declare an array object for array of images
var DestinationImage=["07.jpg","05.jpg","04.jpg","01.jpg","02.jpg","03.jpg"];
var i=0;

</script>

<body> 
  <div class="topbanner">
    <!--Logo on left-->
    <img src="logo2.jpg" />
</div>
<!--Menu-->
<div class="banner">
  <a href="/" id="home" >Home</a>
  <a href="/contact" >Contact Us</a>
  <a href="/packages" >Vacation Packages</a>
  <a href="/registration" >Sign Up</a>
  <a href="/login" >Login</a>
    
    <!--logo on right-->
    <div class="logo">      
        <img src="Logo.png" class="logo" />
    </div>
</div>
<!--Main Slider-->

<div class="slider">
  <img src="Slider2.jpg"  style="width:100%;" height="30%"> 
  <div class="centered">Discover The World With Travel Experts!</div>
</div>
<!--End Main Slider-->


<!--ForEach Loop for data from Database-->
<%	result.forEach((package,key)=>{ %>
  
<!--Flex Box -->
<form method ="post" action="/orders">
      <div class="flex-container-pack">
       
        <script>
        

            document.write("<div><img src='" + DestinationImage[i]+"' /></div>");
            
        </script>

      
        <div>
          <h2><%= package.PkgName%></h2>
          <p><%= package.PkgDesc%></p>
          <p>Package Price:<%= package.PkgBasePrice%></p>
          <p id="sdate<%=key %>" class="sDate0">Package Start Date:<%= package.PkgStartDate.getDate() + "/"+  +((package.PkgStartDate.getMonth())+1) + "/"+ +package.PkgStartDate.getFullYear() %></p>
          <p>Package End Date:<%= package.PkgEndDate.getDate() + "/"+  +((package.PkgEndDate.getMonth())+1)+ "/"+ +package.PkgEndDate.getFullYear() %></p>
            <form method ="post" action="/Orders">
             <button type="submit">Reserve Now</button>
             <input type="hidden" name="pkgId" value="<%=package.PackageId%>"></input>
             </form>
      </div>
      <script>
        var GivenDate= "<%=package.PkgStartDate%>";
        GivenDate = new Date(GivenDate);
        var CurrentDate = new Date();
        if(GivenDate<CurrentDate){
         
       
                           element= document.getElementById("sdate<%= key %>");
                             element.style.color= '#d31414';
                              element.style.fontWeight = 'bold';
       }
         i++;                     
       
         </script>

      </div>
      <%	});	%>  
   
    </body>
  </html>
  <footer>Copyright &copy; 2022 Travel Experts Inc.</footer>
    </html>